img
{
  margin: 0px;
  width:200px;
  height:auto;
  /*opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

hr
{
padding:2px;
background-color:#318CE7;
border:0;
border-radius: 0px;
}

.img2
{
  margin: 0px;
  width:100px;
  height:auto;
  /*opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.img3
{
  width:30px;
  height:auto;
  float:left;

  margin: 0px 0px 0 0;
}

.gauche
{
  float:left;

  margin: 0px 20px 0 0;
  padding: 2px 0px 0px 00px;
}

img:hover
{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img2:hover
{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.produit {

  cursor: pointer;
  color: #333333; 
}
a {
  color: #333333; 
  text-decoration: none;
}

a:hover {
  color: #333333; 
  text-decoration: none;
}
/* Fond du gadget de la barre de recherche */
.recherche_p {
  margin: auto 0 auto auto;
  background-color: rgba(0, 0, 0, 0);   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 0px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 10px 40px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}



#best {

  padding: 40px 770px 40px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#best2 {

  padding: 40px 770px 40px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#globalNav {

float:right;
background-color: rgba(255, 255, 255, 0.9);
border: solid;
padding: 0px 10px 6px 10px;
margin: 0px 20px 0 0;
border-radius: 50px;
}

/* Champ de saisie */
#searchthis #search {
  border-radius: 50px;
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: Lato;   /* Police du texte */
  font-size: 12px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 1px;   /* Espacement des caractères */
}

/* Bouton valider */
#searchthis #search-btn {
  border-radius: 50px;
  background-color: #318CE7;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #E8B960;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family:;   /* Police du texte */
  font-size: 13px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
  margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
  text-transform: uppercase;   /* Transforme le texte en majuscules */
  color: #ffffff;   /* Couleur du texte */
}

/* Bouton valider quand survolé par la souris */
#searchthis #search-btn:hover {
  background-color: #318CE7;   /* Couleur de fond */
  color: #ffffff;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

#onglets
{
    font : bold 22px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 32px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    border-radius : 50px;
    margin-left : 0;

}

#onglets li
{
    float : left;
    height : 30px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
    transition:background-color 0.25s;

}

#onglets li.active
{
    border-bottom: 1px;
}

#onglets a
{
  display : block;
    color : #666;
    text-decoration : none;
    padding : 2px;
}

#onglets a:hover
{
  color: #6C7A86;
   background :rgba(255, 255, 255, .4);
 }

a {
  color: #333333; 
  text-decoration: none;
}

a:hover {
  color: #333333; 
  text-decoration: none;
}

.addtocart-btn {
	padding:8px 0 8px 0;
	font:bold 13px;
	background:#f5f5f5;
	color:#000000;
	border-radius:0px;
	width:200px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}