hr
{
  padding:2px;
  background-color:#318CE7;
  border:0;
  border-radius: 0px;
}

/* Fond du gadget de la barre de recherche */
.recherche_p {
  margin: auto 0 auto auto;
  background-color: rgba(0, 0, 0, 0);   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 0px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 10px 40px 10px 10px; 
  padding-left: 16px;  /* Espace entre les bords et le contenu : haut droite bas gauche  */
}

.gauche{
  text-align: left;
}

.addtocart-btn {
	padding:8px 0 8px 0;
	font:bold 13px;
	background:#f5f5f5;
	color:#000000;
	border-radius:0px;
	width:60%;
  min-width: 50px;  
  max-width: 300px;
  border:1px solid #ccc;
  box-shadow:1px 1px 3px #999;
}

/* Style the search field */
form.searchbox input[type=text] {
  padding: 5px;
  font-size: 13px;
  transition: width 1s;
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;
  float: left;
  width: 9%;
  background: #FFFFFF;
}

/* Style the submit button */
form.searchbox button {
  float: left;
  width: 4.5%;
  padding: 5px;
  background: #318CE7;
  color: white;
  font-size: 13px;
  border: 1px solid;
  border-color: #dddddd;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchbox button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchbox::after {
  content: "";
  clear: both;
  display: table;
}


#searchtitle {
  padding-left: 16px; 
  
}

#filteredproducts {
  padding-left: 0px; 
  
}

form.searchbox input:focus {
 width :40% ;
}



.dropdownmenu {
  background-color: #FFFFFF;

}
/* Suppression des puces et des marges pour les listes du menu et des sous-menus */ 
.dropdownmenu,
.dropdownmenu ul {
  list-style-type: none; 
  margin: 0px; 
  padding: 0px;

} 
.dropdownmenu ul { /* Masquage des sous-menu par defaut */
  display: none;
}
.dropdownmenu li {
  /* Disposition horizontale des elements de menu */
  display: inline-block;
  /* Positionnement relative des elements de menu pour pouvoir positionner les sous-menu correctement en absolu */
  position: relative;
}
.dropdownmenu a {
  /* On transforme les liens en bloc pour pouvoir les dimensionner */
  display: block;
  /* Dimensions des liens */ 
  width: 120px; 
  height: 40px; 
  /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
  padding: 7px 10px;
  text-align: center;
  border: 1px solid;
  border-color: #dddddd;
  text-decoration:none; 
}
.dropdownmenu li:hover ul {
  /* Affichage du soumenu au survol */
  display: block;
  /* Positionnement du sous-menu */ 
  position: absolute; 
  top: 40px; /* Hauteur du menu + hauteur du padding top et bottom : 30 + 3 + 3 = 36 */ 
  left: 0px; /* Decalage du sous-menu par rapport aux liens du menu*/ 
z-index: 100; /* Gestion de la superposition des sous-menus par rapport au reste de la page */ }

.dropdownmenu ul a { /* Changement de l'affichage des liens des sous-menus pour ne pas les afficher en inline-block comme les liens de menu, ils seront donc verticaux */
display: block;
}

/* Gestion des couleurs */
.dropdownmenu li { 
  background-color: #FFFFFF; /* Couleur d'arriere-plan du menu */
}
.dropdownmenu li a { 
  color: #000000; /* Couleur du texte du menu */ 
}
.dropdownmenu li:hover {
  background-color: #318CE7; /* Couleur d'arriere-plan du menu au survol */
}
.dropdownmenu li:hover a {
  color: #fff; /* Couleur du texte du menu au survol */ 
}
.dropdownmenu ul li { 
  background-color: #ccc; /* Couleur d'arriere-plan des sous-menu */ 
}
.dropdownmenu ul li:hover {
  background-color: #318CE7; /* Couleur d'arriere-plan des sous-menu au survol */ 
}
.dropdownmenu ul li a {
  color: #666; /* Couleur du texte des sous-menu */ 
}
.dropdownmenu ul li:hover a {
  color: #f00; /* Couleur du texte des sous-menu au survol */
}

#ok-btn {
 
  width: 25%;
  padding: 6px;
  background: #318CE7;
  color: white;
  font-size: 13px;
  border: 1px solid;
  border-color: #dddddd;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#addarticles-btn {
 
  width: 13.3%;
  padding: 8px;
  background: #318CE7;
  color: white;
  font-size: 13px;
  border: 1px solid;
  border-color: #dddddd;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.tri {
  /* Style sur les boutons de tri */
}


.active-tri {
  background-color:#879bb5;
}