.cesii {
     text-align: center;
  white-space: nowrap;
  color: #6699ff;
    margin-right:            120px;
    
}

.logo{
  background-color: #FFFFFF;
        border: 2px solid #6699ff;
        -moz-border-radius: 00px;

                padding-top: 0px;
                padding-left: 3px;
                padding-right: 3px;
                padding-bottom: 0px;
 margin-top: 5px;
                margin-left: 3px;
                margin-right: 3px;
                margin-bottom: 5px;
}

.blanc{
  color : white;
}

  .insta:hover{
    color :#999 ;
  }

  .facebook:hover{
    color : #3b5998;
  }

   .twitter:hover{
    color : #33ccff;
  }

  .youtube:hover{
    color : #cc181e;
  }